[submodule "assignments/html-assignments"]
	path = assignments/html-assignments
	url = https://github.com/unkbiru/html-assignments.git
[submodule "assignments/css-assignments"]
	path = assignments/css-assignments
	url = https://github.com/unkbiru/css-assignments.git
