/* CSS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import url(./hero.css);

:root {
  /* ألوان الخلفية (Background) */
  --bg-p: #f4f4f4; /* Primary Background - Cultured */
  --bg-s: #555555; /* Secondary Background - Davy's Grey */
  --bg-w: #fff; /* Secondary Background - Davy's Grey */

  /* ألوان النصوص (Text) */
  --text-p: #303030; /* Primary Text - Dark Charcoal */
  --text-s: #6b6b6b; /* Secondary Text - Dim Gray */

  /* ألوان الحدود والعناصر المساعدة (Borders / Utility) */
  --border-p: #303030; /* Primary Border / Dark Charcoal */
  --border-m: #9f9f9f; /* Medium Border / Quick Silver */
  --border-l: #c5c5c5; /* Light Border / Silver Sand */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  direction: rtl;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 14px;
  color: var(--text-p);
}

body {
  background-color: var(--bg-w);
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
