/* Personal Card */
.personal-card {
  background-color: var(--card-bg-color);
  width: 350px;
  min-width: 0;
  flex-flow: column wrap;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.top {
  flex-flow: row nowrap;
  gap: 7px;
}

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

/* Info */
.info {
  align-items: flex-start;
  flex-flow: column wrap;
}

.info .name {
  font-size: 1.9rem;
  margin-bottom: -5px;
}
.info .name a {
  gap: 3px;
}
.info .name a i {
  font-size: 1.2rem;
}

.info .job span {
  font-weight: bold;
  color: var(--light-color);
}

/* Social Links */
.social-links {
  gap: 20px;
}

/* bottom */
.bottom {
  width: 100%;
  gap: 10px;
  flex-flow: column wrap;
}
.bottom .link {
  width: 100%;
  gap: 10px;
}

.bottom .link .icon {
  padding-top: 3px;
  flex-shrink: 0;
}

.bottom .link a {
  height: 32px;
  flex-grow: 1;
  border-radius: 10px;
  background-color: var(--light-color-f4);
}

/* Media */
@media (min-width: 768px) {
  .personal-card {
    width: fit-content; /* Fit content for larger screens */
  }
}
